*.suo
*.json
*.sqlite
/.vs/config/applicationhost.config
/.vs/TRK/v15/Browse.VC.db
/.vs/TRK/v15/Browse.VC.opendb
#*.pdf
*.ipch
/TRK
/.vs
/source/TRK
/.vscode
/swigcpp11/*.h
/swigcpp11/*.cpp
/swigcpp11/*.i
/swigcpp17/*.h
/swigcpp17/*.cpp
/swigcpp17/*.i
.DS_Store
webpage/.DS_Store
source/.DS_Store
*.DS_Store
testdata/newData.xlsx
*.zip
webpage/.DS_Store
webpage/.DS_Store
