# development
**/.vscode/
src/**/TRK/

# testing
diagnostics

TRKtesting.cpp
pch.cpp
pch.h


testdata/newData.xlsx
testdata/topsecretdata.csv

testdata/covidformatter.py
testdata/covidoutput_out.txt
testdata/covidoutput.txt
testdata/extinctionfits/x0_data_old.csv
testdata/extinctionfits/gamma_data_old.csv

# misc
src/trk.cpython-37m-darwin.so
.clang_complete
.dir-locals.el