# development
**/.vscode/
src/**/TRK/

# testing
diagnostics

TRKtesting.cpp
pch.cpp
pch.h


testdata/newData.xlsx
testdata/topsecretdata.csv

src/trk.cpython-37m-darwin.so
.clang_complete
.dir-locals.el
testdata/covidformatter.py
testdata/covidoutput_out.txt
testdata/covidoutput.txt
